<!DOCTYPE html>
<html lang="en">
<body>
<h2>Links</h2>

<a href="/new"> BRING IN THE LINKS BRING IN THE FUNK </a>
<ul>
  <% for(url in urls) { %>
      <li><%= url %>: <a href="/urls/<%= url %>"> <%= urls[url] %> </a></li>
  <% }; %>
</ul>
<br>
    Here are some words and things that I am
<br/>
</body>
</html>