<!DOCTYPE html>
<html lang="en">
<body>
<h2>Links</h2>
<ul>
    <% linktable.forEach(function(linktable) { %>
        <li><%= linktable.name %> - <%= linktable.address %></li>
    <% }); %>
</ul>
<br>
    Here are some words and things that I am writing <br/>
</body>
</html>